In [2]:
# Импортируем библиотеки
import numpy as np # библиотека для работы с числами(математические вычисления)
import pandas as pd # библиотека для работы с таблицами
import xlsxwriter
# import pylab, math

In [3]:
#!pip install openpyxl

In [4]:
# Документация serias
# https://pandas.pydata.org/pandas-docs/stable/reference/series.html

In [5]:
# Загружаем данные из таблицы Excel
df_1 = pd.read_csv("emails_all_no_email_dublicates.csv")

In [1]:
# Смотрим таблицу(первые пять строк)
df_1.head()

## Анализ данных

In [7]:
# просмотр мин, сред, мах значений по колонкам c типом int
df_1.describe()

               Index
count  115336.000000
mean    74219.969298
std     79914.354740
min         0.000000
25%     20034.000000
50%     59838.500000
75%     88998.250000
max    512417.000000

In [8]:
# Информация кол-во строк и колонок
df_1.shape

(115336, 7)

In [9]:
# Общая информация
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115336 entries, 0 to 115335
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Index        115336 non-null  int64
 1   Комплекс     48699 non-null   object
 2   ОИВ          48699 non-null   object
 3   Организация  115298 non-null  object
 4   ФИО          115336 non-null  object
 5   СНИЛС        48699 non-null   object
 6   Email_mos    115336 non-null  object
dtypes: int64(1), object(6)
memory usage: 6.2+ MB

In [10]:
# Выводим типы данных
df_1.dtypes

Index           int64
Комплекс       object
ОИВ            object
Организация    object
ФИО            object
СНИЛС          object
Email_mos      object
dtype: object

In [11]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1)-df_1.count()

Index              0
Комплекс       66637
ОИВ            66637
Организация       38
ФИО                0
СНИЛС          66637
Email_mos          0
dtype: int64

In [12]:
# Количество пропущенных значений (в процентах)
round((len(df_1) - df_1.count()) / len(df_1) * 100, 2)#.sort_values(ascending=False)

Index           0.00
Комплекс       57.78
ОИВ            57.78
Организация     0.03
ФИО             0.00
СНИЛС          57.78
Email_mos       0.00
dtype: float64

In [14]:
df_1.columns[0],len(df_1.columns),df_1.columns[5]

('Index', 7, 'СНИЛС')

In [19]:
def numering(df):
    n = 0
    for i in df.columns:
        if n < len(df.columns):
            print(f' сol_{n}'+' : '+f'{i}')
        n = n+1
        
numering(df_1)

 сol_0 : Index
 сol_1 : Комплекс
 сol_2 : ОИВ
 сol_3 : Организация
 сol_4 : ФИО
 сol_5 : СНИЛС
 сol_6 : Email_mos

In [18]:
col_0 = df_1.columns[0]
col_1 = df_1.columns[1]
col_2 = df_1.columns[2]
col_3 = df_1.columns[3]
col_4 = df_1.columns[4]
col_5 = df_1.columns[5]
col_6 = df_1.columns[6]
# col_7 = df_1.columns[7]
# col_8 = df_1.columns[8]
# col_9  = df_1.columns[9]
# col_10 = df_1.columns[10]
# col_11 = df_1.columns[11]
# col_12 = df_1.columns[12]
# col_13 = df_1.columns[13]
# col_14 = df_1.columns[14]
# col_15 = df_1.columns[15]
# col_16 = df_1.columns[16]
# col_18 = df_1.columns[17]
# col_19 = df_1.columns[18]
# col_20 = df_1.columns[19]

In [20]:
# выводим любые цифры в колонке
df_1[col_4][df_1[col_4].str.contains('[0-9]',na=False)].head(3).unique()

array(['Егорова Наталия Владимировна 1',
       'Потапова Екатерина Юрьевна таб. 01030', 'АИС МФЦ Нагрузка10'],
      dtype=object)

In [25]:
df_1[col_6][df_1[col_6].str.contains('^\w{0,2}@mos.ru',na=False)].head()

22549    1C@mos.ru
37767    12@mos.ru
39866     m@mos.ru
40446    Pd@mos.ru
40977    dd@mos.ru
Name: Email_mos, dtype: object

In [2]:
df_1[col_15][df_1[col_15].str.contains('^[\w\.\+\-]+\@[\w]+\.[a-z]{2,3}$',na=False)].tail(10)

In [3]:
df_1[col_15][df_1[col_15].str.contains('^[A-Za-z0-9\.\+_-]+@[A-Za-z0-9\._-]+\.[a-zA-Z]*$',na=False)].head(10)

In [4]:
df_1[col_15][df_1[col_15].str.contains('[^@]+@[^@]+\.[^@]+',na=False)].head(10)

### Функции

In [29]:
def looking_for_anomalies(df,column):
    # выводим пробелы в начале строки 
    print(f"Кол-во значений в колонке : {df_1[column].count()}")
    print(f"Кол-во уникальных значений : {df[column].nunique()}")
    print(f"Кол-во значений NaN : {len(df_1[column])-df_1[column].count()}")
    print(f"Кол-во в начале строки пробелов : {df_1[column][df_1[column].str.contains('^ ',na=False)].count()}")
    print(f"Кол-во значений уникальных ^ пробелы : {df_1[column][df_1[column].str.contains('^ ',na=False)].nunique()}")
    print(f"Кол-во значений пробелы в конце строки : {df_1[column][df_1[column].str.contains(' $',na=False)].count()}")
    print(f"Кол-во значений уникальных $ пробелов : {df_1[column][df_1[column].str.contains(' $',na=False)].nunique()}")

looking_for_anomalies(df_1,col_0)

Кол-во значений в колонке : 512750
Кол-во уникальных значений : 9
Кол-во значений NaN : 0
Кол-во в начале строки пробелов : 0
Кол-во значений уникальных ^ пробелы : 0
Кол-во значений пробелы в конце строки : 0
Кол-во значений уникальных $ пробелов : 0

In [19]:
df_1[col_15].loc[df_1[col_15].str.contains('^ ',na=False)].count()

1250

In [46]:
numering(df_1)

In [30]:
def check_letter_and_number(df,column):
    print(f"Кол-во уникальных значений: {df[column].nunique()}")
    print(f"Кол-во значений NaN: {len(df[column])-df[column].count()}")
    print(f"Кол-во с буквами : {df[column][df[column].str.contains('[A-Za-zА-Яа-я]',na=False)].count()}")
    print(f"Кол-во уникальных с буквами : {df[column][df[column].str.contains('[A-Za-zА-Яа-я]',na=False)].nunique()}")
    print(f"Кол-во с цифрами : {df[column][df[column].str.contains('[0-9]',na=False)].count()}")
    print(f"Кол-во уникальных с цифрами : {df[column][df[column].str.contains('[0-9]',na=False)].nunique()}")
    print(f"Кол-во только символы в строке: {df[column][df[column].str.contains('^[^0-9][^A-Za-zА-Яа-я]*$',na=False)].count()}")
    print(f"Кол-во уникальных только символы в строке: {df[column][df[column].str.contains('^[^0-9][^A-Za-zА-Яа-я]*$',na=False)].nunique()}")
    
check_letter_and_number(df_1,col_0)

Кол-во уникальных значений: 9
Кол-во значений NaN: 0
Кол-во с буквами : 512750
Кол-во уникальных с буквами : 9
Кол-во с цифрами : 0
Кол-во уникальных с цифрами : 0
Кол-во только символы в строке: 0
Кол-во уникальных только символы в строке: 0

In [41]:
# def email_anomalies(df,column):
#     # Кол-во до двух знаков перед знаком "@"
#     before_dot = df.select(column).filter(col(column).rlike("^[\w|\W]{0,2}@")).count()
#     # Кол-во уникальных до двух знаков перед знаком "@"
#     before_dot_distinct = df.select(column).filter(col(column).rlike("^[\w|\W]{0,2}@")).distinct().count()
#     # Кол-во кириллицы до знаком "@"
#     kirillica = df.select(column).filter(col(column).rlike("^[\w|\W]{0,}@")).count()
#     # Кол-во уникальных кириллицы до знаком "@"
#     kirillica_distinct = df.select(column).filter(col(column).rlike("^[\w|\W]{0,}@")).distinct().count()
#     # Кол-во не допутимых с доменов mail.ru
#     yandex = df.select(column).filter(col(column).rlike("^[0-9]@yandex.ru")).count()
#     # Кол-во уникальных не допутимых с доменов mail.ru
#     yandex_unic = df.select(column).filter(col(column).rlike("^[0-9]@yandex.ru")).distinct().count()
#     # Кол-во не допутимых с доменов mail.ru
#     mail = df.select(column).filter(col(column).rlike("^[\w|\W]{1,4}@mail.ru")).count()
#     # Кол-во уникальных не допутимых с доменов mail.ru
#     mail_unic = df.select(column).filter(col(column).rlike("^[\w|\W]{1,4}@mail.ru")).distinct().count()
#     # Кол-во не допутимых с доменов gmail.ru
#     gmail = df.select(column).filter(col(column).rlike("^[\w|\W]{1,6}@gmail.ru")).count()
#     # Кол-во уникальных не допутимых с доменов gmail.ru
#     gmail_unic = df.select(column).filter(col(column).rlike("^[\w|\W]{1,6}@gmail.ru")).distinct().count()

#     print(f"Кол-во значений NaN : {df.select(column).filter(col(column).rlike('^[nan]*$')).count()}")
#     print(f"Кол-во почт без знака "@"(вкл NaN) : {df.select(column).filter(col(column).rlike('^[^@]*$')).count()}")
#     print(f"Кол-во уникальных почт без знака "@" : {df.select(column).filter(col(column).rlike('^[^@]*$')).distinct().count()}")
#     print(f"Кол-во до двух знаков(символов) перед знаком "@" : {df.select(column).filter(col(column).rlike('^[\w|\W]{0,2}@')).count()}")
#     print(f"Кол-во уникальных до двух знаков перед знаком "@" : {before_dot_distinct}")
#     print(f"Кол-во кириллицы до знака "@" : {kirillica}")
#     print(f"Кол-во уникальных кириллицы до знака "@" : {kirillica_distinct}")
#     print(f"Кол-во не допустимых с доменом yandex.ru : {yandex}")
#     print(f"Кол-во уникальных не допустимых с доменом yandex.ru : {yandex_unic}")
#     print(f"Кол-во не допустимых с доменом mail.ru : {mail}")
#     print(f"Кол-во уникальных не допустимых с доменом mail.ru : {mail_unic}")
#     print(f"Кол-во не допустимых с доменом gmail.ru : {gmail}")
#     print(f"Кол-во уникальных не допустимых с доменом gmail.ru : {gmail_unic}")
    
# email_anomalies(df_1,col_0)

In [140]:
# Проверяем аномалии в почте
def email_anomalies(df,column):
    # Кол-во до двух знаков перед знаком "@"
    before_dot = df[column][df[column].str.contains('^[\w|\W]{0,2}@',na=False)].count()
    # Кол-во уникальных до двух знаков перед знаком "@"
    before_dot_unique = df[column][df[column].str.contains('^[\w|\W]{0,2}@',na=False)].nunique()
    # Кол-во кириллицы до знаком "@"
    kirillica = df[column][df[column].str.contains('^[А-Яа-я]{0,}@',na=False)].count()
    # Кол-во уникальных кириллицы до знаком "@"
    kirillica_unique = df[column][df[column].str.contains('^[А-Яа-я]{0,}@',na=False)].nunique()
    # Кол-во кириллицы до @yandex.ru, @mail.ru, @gmail.ru
    kirillica_all = df[column][df[column].str.contains('^[А-Яа-я]{0,}@yandex.ru|^[А-Яа-я]{0,}@mail.ru|^[А-Яа-я]{0,}@gmail.ru',na=False)].count()
    # Кол-во уникальных кириллицы до @yandex.ru, @mail.ru, @gmail.ru
    kirillica_all_unique = df[column][df[column].str.contains('^[А-Яа-я]{0,}@yandex.ru|^[А-Яа-я]{0,}@mail.ru|^[А-Яа-я]{0,}@gmail.ru',na=False)].nunique()
    # Кол-во не допустимых с доменов yandex.ru
    yandex = df[column][df[column].str.contains('^[0-9]@yandex.ru',na=False)].count()
    # Кол-во уникальных не допустимых с доменов yandex.ru
    yandex_unic = df[column][df[column].str.contains('^[0-9]@yandex.ru',na=False)].nunique()
    # Кол-во не допустимых с доменом mail.ru
    mail = df[column][df[column].str.contains('^[\w|\W]{1,4}@mail.ru',na=False)].count()
    # Кол-во уникальных не допустимых с доменов mail.ru
    mail_unic = df[column][df[column].str.contains('^[\w|\W]{1,4}@mail.ru',na=False)].nunique()
    # Кол-во не допустимых с доменов gmail.ru
    gmail = df[column][df[column].str.contains('^[\w|\W]{1,6}@gmail.ru',na=False)].count()
    # Кол-во уникальных не допустимых с доменов gmail.ru
    gmail_unic = df[column][df[column].str.contains('^[\w|\W]{1,6}@gmail.ru',na=False)].nunique()
    
    
    print(f"Кол-во значений NaN: {len(df[column])-df[column].count()}")
    print(f"Кол-во почт без знака '@'(без NaN) : {df[column][df[column].str.contains('^[^@]*$',na=False)].count()}")
    print(f"Кол-во уникальных почт без знака '@' : {df[column][df[column].str.contains('^[^@]*$',na=False)].nunique()}")
    print(f"Кол-во до двух знаков(символов) перед знаком '@' : {before_dot}")
    print(f"Кол-во уникальных до двух знаков(символов) перед знаком '@' : {before_dot_unique}")
    print(f"Кол-во кириллицы до знака '@' : {kirillica}")
    print(f"Кол-во уникальных кириллицы до знака '@' : {kirillica_unique}")
    print(f"Кол-во кириллицы до @yandex.ru, @mail.ru, @gmail.ru : {kirillica_all}")
    print(f"Кол-во уникальных кириллицы до @yandex.ru, @mail.ru, @gmail.ru : {kirillica_all_unique}")
    print(f"Кол-во не допустимых с доменом yandex.ru : {yandex}")
    print(f"Кол-во уникальных не допустимых с доменом yandex.ru : {yandex_unic}")
    print(f"Кол-во не допустимых с доменом mail.ru : {mail}")
    print(f"Кол-во уникальных не допустимых с доменом mail.ru : {mail_unic}")
    print(f"Кол-во не допустимых с доменом gmail.ru : {gmail}")
    print(f"Кол-во уникальных не допустимых с доменом gmail.ru : {gmail_unic}")
    
email_anomalies(df_1,col_15)

Кол-во значений NaN: 36901
Кол-во почт без знака '@'(без NaN) : 3
Кол-во уникальных почт без знака '@' : 2
Кол-во до двух знаков(символов) перед знаком '@' : 29966
Кол-во уникальных до двух знаков(символов) перед знаком '@' : 1367
Кол-во кириллицы до знака '@' : 1904
Кол-во уникальных кириллицы до знака '@' : 795
Кол-во кириллицы до @yandex.ru, @mail.ru, @gmail.ru : 1637
Кол-во уникальных кириллицы до @yandex.ru, @mail.ru, @gmail.ru : 600
Кол-во не допустимых с доменом yandex.ru : 225
Кол-во уникальных не допустимых с доменом yandex.ru : 4
Кол-во не допустимых с доменом mail.ru : 45881
Кол-во уникальных не допустимых с доменом mail.ru : 4287
Кол-во не допустимых с доменом gmail.ru : 31
Кол-во уникальных не допустимых с доменом gmail.ru : 28

In [148]:
def check_phones(df,column):
    print(f"Кол-во значений NaN: {len(df[column])-df[column].count()}")
    print(f"Кол-во значений с цифрами: {df_1[column][df_1[column].str.contains('^[0-9]+',na=False)].count()}")
    print(f"Кол-во уникальных значений с цифрами: {df_1[column][df_1[column].str.contains('^[0-9]+',na=False)].nunique()}")
    print(f"Кол-во тел. не соответствуют ^+ : {df_1[column][df_1[column].str.contains('^[^+]',na=False)].count()}")
    print(f"Кол-во уникальных не соответствуют ^+ : {df_1[column][df_1[column].str.contains('^[^+]',na=False)].nunique()}")
    print(f"Кол-во номеров с буквами : {df_1[column][df_1[column].str.contains('[A-Za-zА-Яа-я]',na=False)].count()}")
    print(f"Кол-во уникальных номеров с буквами : {df_1[column][df_1[column].str.contains('[A-Za-zА-Яа-я]',na=False)].nunique()}")
    print(f"Кол-во номеров с символами : {df_1[column][df_1[column].str.contains('^[^+]*$',na=False)].count()}")
    print(f"Кол-во уникальных с символами : {df_1[column][df_1[column].str.contains('^[^+]*$',na=False)].nunique()}")
    
check_phones(df_1,col_14)

Кол-во значений NaN: 210699
Кол-во значений с цифрами: 261051
Кол-во уникальных значений с цифрами: 61145
Кол-во тел. не соответствуют ^+ : 271607
Кол-во уникальных не соответствуют ^+ : 63189
Кол-во номеров с буквами : 4762
Кол-во уникальных номеров с буквами : 3274
Кол-во номеров с символами : 271592
Кол-во уникальных с символами : 63179

In [146]:
df_1[col_14][df_1[col_14].str.contains('^[^+]*$',na=False)].nunique()

61145

In [5]:
# выводим все кроме "@" в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^[^@]*$',na=False)]

In [6]:
df_1[col_0].unique()

### Комплекс

Вывод: Всего 9 найменований (без цифр), нет пропущенных данных

In [69]:
# показывает количество значений в колонке
df_1["Комплекс"].count()
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1["Комплекс"])-df_1["Комплекс"].count()
# выводим пробелы в начале строки 
df_1_1 = df_1["Комплекс"][df_1['Комплекс'].str.contains('^ ',na=False)].count()
df_1_2 = df_1["Комплекс"][df_1['Комплекс'].str.contains(' $',na=False)].count()

print(f'Кол-во значений: {df_1["Комплекс"].count()}')
print(f'Кол-во пропущенных значений: {len(df_1["Комплекс"])-df_1["Комплекс"].count()}')
print(f'Кол-во значений пробелы в начале строки: {df_1_1}')
print(f'Кол-во значений пробелы в конце строки: {df_1_2}')

Кол-во значений: 512750
Кол-во пропущенных значений: 0
Кол-во значений пробелы в начале строки: 0
Кол-во значений пробелы в конце строки: 0

In [63]:
looking_for_anomalies(df_1,col_0)

Кол-во значений в колонке: 512750
Кол-во уникальных значений: 9
Кол-во значений NaN: 0
Кол-во значений ^ пробелы: 0
Кол-во значений уникальных ^ пробелы: 0
Кол-во значений пробелы в конце строки: 0
Кол-во значений уникальных ^ пробелы: 0

In [160]:
# выводим только цифры в колонке 
df_1["Комплекс"].str.extract(r"(\d+\.\d+|\d+)").count()

0    0
dtype: int64

In [161]:
# выводим любые цифры в колонке
df_1['Комплекс'][df_1['Комплекс'].str.contains('[0-9]',na=False)].unique()

array([], dtype=object)

In [162]:
# выводим любые цифры в колонке
df_1['Комплекс'][df_1['Комплекс'].str.contains('[0-9]+',na=False)].count()

0

In [7]:
# выводим любые строчные в колонке
df_1['Комплекс'][df_1['Комплекс'].str.contains('[^0-9A-Za-zА-Яа-я]',na=False)].unique()

### ОИВ

In [49]:
# выводим любые цифры в колонке
df_1["ОИВ"].str.extract(r"(\d+\.\d+|\d+)").count()

0    0
dtype: int64

In [22]:
# выводим любые цифры в колонке
df_1['ОИВ'][df_1['ОИВ'].str.contains('[0-9]+',na=False)].count()

0

In [152]:
# выводим все кроме цифр в колонке
df_1['ОИВ'][df_1['ОИВ'].str.contains('[^0-9]+',na=False)].nunique()

52

In [8]:
# выводим все кроме цифр в колонке
df_1['ОИВ'][df_1['ОИВ'].str.contains('[^0-9]+',na=False)].head(500).unique()

### Организация

In [190]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1["Организация"])-df_1["Организация"].count()

0

In [38]:
# выводим любые цифры в колонке
df_1["Организация"].str.extract(r"(\d+\.\d+|\d+)").nunique()

0    531
dtype: int64

In [172]:
# выводим любые строчные в колонке
df_1['Организация'][df_1['Организация'].str.contains('^[^0-9A-Za-zА-Яа-я]$',na=False)].unique()

array([], dtype=object)

In [36]:
# выводим цифры в колонке
df_1['Организация'][df_1["Организация"].str.match(r"(\d+\.\d+|\d+)")].count()

529

In [177]:
# выводим все кроме цифр в колонке
df_1['Организация'][df_1['Организация'].str.contains('[0-9]+',na=False)].nunique()

612

In [40]:
# выводим любые цифры в колонке + кол-во уникальных строк
df_1['Организация'][df_1['Организация'].str.contains('\\d', regex=True)].nunique()

612

In [45]:
df_1['Организация'][df_1['Организация'].str.match(r'(\d+\.\d+|\d+)')].head().unique()

array(['2016 ГБУ ЦССВ «Наш дом»'], dtype=object)

In [9]:
# поиск данных по принципу like в SQL
df_1['Организация'][df_1['Организация'].str.startswith('ГБУ «СШОР № 21»', na=False)].head()

In [10]:
# поиск данных по принципу like в SQL
df_1['Организация'][df_1['Организация'].str.contains('21»', na=False)].head()

In [11]:
df_1.loc[(df_1['Организация'] == 'ГБУ «СШОР № 21» Москомспорта')].count()

### ИННорг

In [191]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1["ИННорг"])-df_1["ИННорг"].count()

0

In [172]:
# выводим тип колонки 
df_1['ИННорг'].dtypes

dtype('int64')

In [171]:
# выводим кол-во строк
df_1['ИННорг'].count()

512750

In [170]:
# выводим кол-во уникальных строк
df_1['ИННорг'].nunique()

1577

In [12]:
df_1['ИННорг'].head(3)

### ФИО

In [106]:
# выводим любые цифры в колонке
# df_1["ФИО"].str.extract(r"(\d+\.\d+|\d+)").count()

0    116
dtype: int64

In [109]:
# показывает NaN(количество пропущенных значений)
len(df_1['ФИО'])-df_1['ФИО'].count()

1

In [110]:
# выводим любые цифры в колонке
df_1['ФИО'][df_1['ФИО'].str.contains('[0-9]+',na=False)].count()

116

In [112]:
# выводим любые цифры в колонке
df_1['ФИО'][df_1['ФИО'].str.contains('[0-9]+',na=False)].nunique()

110

In [15]:
# выводим любые цифры в колонке
df_1['ФИО'][df_1['ФИО'].str.contains('^ ',na=False, regex=True)]

In [197]:
# выводим любые цифры в колонке
df_1['ФИО'][df_1['ФИО'].str.contains('[0-9][^A-Za-zА-Яа-я]',na=False, regex=True)].nunique()

78

In [16]:
# выводим любые цифры в колонке
df_1['ФИО'][df_1['ФИО'].str.contains('[0-9][^A-Za-zА-Яа-я]',na=False, regex=True)]

### СНИЛС

In [198]:
# показывает NaN(количество пропущенных значений)
len(df_1['СНИЛС'])-df_1['СНИЛС'].count()

609

In [70]:
# выводим любые строчные в колонке
df_1['СНИЛС'][df_1['СНИЛС'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

0

In [71]:
# выводим любые цифры в колонке
df_1['СНИЛС'][df_1['СНИЛС'].str.contains('[0-9]+',na=False)].count()

512139

In [72]:
# показывает NaN(количество пропущенных значений)
len(df_1['СНИЛС'])-df_1['СНИЛС'].count()

609

In [75]:
df_1['СНИЛС'].count()

512141

In [145]:
# выводим любые символы в колонке
df_1['СНИЛС'][df_1['СНИЛС'].str.contains('^[^0-9][^A-Za-zА-Яа-я]*$', na=False)].head(3)

65676        -   -
269182             -   -
Name: СНИЛС, dtype: object

In [97]:
# поиск данных по принципу like в SQL
df_1['СНИЛС'][df_1['СНИЛС'].str.contains('[^0-9][- -]{2}', na=False)].head(3)

65676        -   -
269182             -   -
Name: СНИЛС, dtype: object

### ДР

In [199]:
# показывает NaN(количество пропущенных значений)
len(df_1['ДР'])-df_1['ДР'].count()

16

In [151]:
# выводим любые цифры в колонке
# df_1["ДР"].str.extract(r"(\d+\.\d+|\d+)").count()

0    512734
dtype: int64

In [149]:
# выводим любые цифры в колонке
df_1['ДР'][df_1['ДР'].str.contains('[0-9]+',na=False)].count()

512734

In [125]:
# выводим любые цифры в колонке уникальных строк
df_1['ДР'][df_1['ДР'].str.contains('[0-9]+',na=False)].nunique()

22252

In [189]:
# выводим любые строчные в колонке
df_1['ДР'][df_1['ДР'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

0

In [151]:
# выводим любые символы в колонке
df_1['ДР'][df_1['ДР'].str.contains('^[^0-9][^A-Za-zА-Яа-я]*$', na=False)].count()

0

Изменить пустые значения на строчные для лучшего поиска?

In [17]:
# выводим nan
df_1[df_1['ДР'].isnull()].head(2)

In [150]:
# выводим nan
df_1['ДР'].loc[df_1['ДР'].isnull()].head(5)

273289    NaN
273442    NaN
273443    NaN
273581    NaN
277632    NaN
Name: ДР, dtype: object

### Должность

# <font color="red">!!!!!!!</font>

In [175]:
# выводим любые цифры в колонке
df_1['Должность'][df_1['Должность'].str.contains('[0-9]+',na=False)].count()

27228

In [185]:
# выводим любые цифры в колонке уникальных строк
df_1['Должность'][df_1['Должность'].str.contains('[0-9]+',na=False)].nunique()

2102

In [191]:
# выводим любые знаки и строчные кроме цифр в колонке уникальных строк
df_1['Должность'][df_1['Должность'].str.contains('[^0-9]+',na=False)].nunique()

11672

In [129]:
# выводим любые знаки и строчные кроме цифр в колонке 
df_1['Должность'][df_1['Должность'].str.contains('[^0-9]+',na=False)].head()

0       Преподаватель
1    Начальник отдела
2               повар
3       Преподаватель
4       Преподаватель
Name: Должность, dtype: object

In [195]:
# Выводим похожие совпадения на "повар"
df_1['Должность'][(df_1['Должность'].str.contains('повар',na=False,case=False))].nunique()

37

In [194]:
# Выводим похожие совпадения на "повар"
# ilike=str.contains('повар',na=False,case=False) где case=False не важен регистр
df_1['Должность'][(df_1['Должность'].str.contains('повар',na=False,case=False))].unique()

array(['повар', 'Шеф-повар', 'Повар', 'Шеф повар', 'Повар-кондитер',
       'Повар 4разряд', 'повар (4 разряд)', 'Повар 5р', 'Повар 4 разряда',
       'Повар, 5 разряда', 'Повар, 4 разряда', 'Повар 5 разряд',
       'Повар 5 разряда', 'шеф-повар', 'Повар (5 разряд)',
       'Повар (4 разряд)', 'Шеф-повар (1 категория)', 'Повар 6 разряда',
       'Повар 3 разряда', 'Повар детского питания', 'повар 5разряда',
       'Повар 4 разряд', 'Повар.', 'помощник повара', 'Повар 6 р',
       'повар 4 разряда', 'Заведующий производством (шеф-повар)',
       'Повар детского питания 4 разряда', 'Помощник воспитателя (повар)',
       'Повар (6 р)', 'Повар (5 р)',
       'Заведующий производством (Шеф-повар)', 'Повар 4 р.', 'Повар 5 р.',
       'Повар 6  разряда', 'Шеф - повар', 'Повар 4 разряда ЕТКС'],
      dtype=object)

In [211]:
# выводим все символы кроме 
df_1['Должность'][df_1['Должность'].str.contains('^[^0-9A-Za-zА-Яа-я -]',na=False)].head()

87826                   .Врач-терапевт
87953                   .Врач-терапевт
263624    (Вне/бюд)преподаватель В кат
263630    (Вн/бюд) преподаватель 1 кат
263632    (Вне/бюд)преподаватель В кат
Name: Должность, dtype: object

In [212]:
# выводим все символы кроме 
df_1['Должность'][df_1['Должность'].str.contains('[^0-9A-Za-zА-Яа-я -]',na=False)].head()

293            Преподаватель (соответствие)
343            Преподаватель (соответствие)
350    Специалист по кадрам (без категории)
364            Библиотекарь (без категории)
625                            Доцент, к.н.
Name: Должность, dtype: object

In [228]:
df_1['Должность'][df_1['Должность'].str.contains('[.,()]',na=False,regex=True)]

293                            Преподаватель (соответствие)
343                            Преподаватель (соответствие)
350                    Специалист по кадрам (без категории)
364                            Библиотекарь (без категории)
625                                            Доцент, к.н.
                                ...
512607    Заместитель директора по социализации, воспита...
512615                                 Специалист (питание)
512718                          Специалист (комплектование)
512728                                 Специалист (питание)
512731                                 Специалист (питание)
Name: Должность, Length: 17700, dtype: object

### ВидЗанятости

In [193]:
# выводим любые цифры в колонке
df_1['ВидЗанятости'][df_1['ВидЗанятости'].str.contains('[0-9]+',na=False)].count()

0

In [265]:
# выводим любые строчные в колонке
df_1['ВидЗанятости'][df_1['ВидЗанятости'].str.contains('[A-Za-zА-Яа-я]'D)].count()

512709

In [201]:
df_1['ВидЗанятости'].unique()

array(['Основное место работы', 'Внешнее совместительство',
       'Внутреннее совместительство', nan, 'Подработка'], dtype=object)

In [269]:
df_1['ВидЗанятости'].nunique()

4

In [18]:
# выводим nan
df_1[df_1['ВидЗанятости'].isnull()].head(2)

In [242]:
# показывает NaN(количество пропущенных значений)
len(df_1['ВидЗанятости'])-df_1['ВидЗанятости'].count()

41

In [232]:
# выводим nan
df_1['ВидЗанятости'].loc[df_1['ВидЗанятости'].isnull()].head(5)

44423     NaN
207282    NaN
207284    NaN
267077    NaN
267087    NaN
Name: ВидЗанятости, dtype: object

### ТипДУЛ

In [205]:
# выводим любые цифры в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[0-9]+',na=False)].count()

523

In [272]:
# выводим любые цифры в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[0-9]+',na=False)].unique()

array(['Паспорт гражданина РФ образца 1997 г.'], dtype=object)

In [217]:
# выводим любые цифры в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[0-9]+',na=False)].nunique()

1

In [202]:
# выводим любые цифры в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[0-9]+',na=False)].head(3)

334264    Паспорт гражданина РФ образца 1997 г.
334265    Паспорт гражданина РФ образца 1997 г.
334266    Паспорт гражданина РФ образца 1997 г.
Name: ТипДУЛ, dtype: object

In [244]:
# выводим все кроме цифр в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[^0-9]+',na=False)].nunique()

35

In [245]:
# выводим любые строчные в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[A-Za-zА-Яа-я]+',na=False)].nunique()

35

In [203]:
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[A-Za-zА-Яа-я]+',na=False)].head()

0    Паспорт гражданина Российской Федерации
1                        Иностранный паспорт
2                        Иностранный паспорт
3    Паспорт гражданина Российской Федерации
4    Паспорт гражданина Российской Федерации
Name: ТипДУЛ, dtype: object

In [246]:
# выводим любые строчные в колонке
df_1['ТипДУЛ'][df_1['ТипДУЛ'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

512210

### Документ_Серия

In [270]:
# выводим любые цифры в колонке
# df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('\\d', regex=True,na=False)].head()

In [19]:
# выводим любые цифры в колонке
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[0-9]+',na=False)].head()

In [260]:
# выводим кол-во цифр в колонке
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[0-9]+',na=False)].count()

470368

In [271]:
# выводим любые цифры в колонке уникальных значений
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[0-9]+',na=False)].nunique()

2990

In [20]:
# выводим любые строчные в колонке
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[A-Za-zА-Яа-я]',na=False)].head()

In [274]:
# выводим любые строчные в колонке
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

36387

In [275]:
# выводим любые строчные в колонке
df_1['Документ_Серия'][df_1['Документ_Серия'].str.contains('[A-Za-zА-Яа-я]+',na=False)].nunique()

462

In [281]:
# выводим null
df_1['Документ_Серия'].loc[df_1['Документ_Серия'].isnull()].count()

0

In [276]:
# показывает NaN(количество пропущенных значений)
len(df_1['Документ_Серия'])-df_1['Документ_Серия'].count()

6382

In [280]:
# выводим nan
df_1['Документ_Серия'].loc[df_1['Документ_Серия'].isnull()].head(5)

267      NaN
3273     NaN
23809    NaN
26221    NaN
34272    NaN
Name: Документ_Серия, dtype: object

In [278]:
# показывает NaN(количество пропущенных значений)
len(df_1)-df_1.count()

Комплекс                      0
ОИВ                           0
Организация                   0
ИННорг                        0
ФИО                           1
СНИЛС                       609
ДР                           16
Должность                     6
ВидЗанятости                 41
ТипДУЛ                      540
Документ_Серия             6382
Документ_Номер              629
ДатаВыдачи                  826
ТелМобильный              20694
Номер_телефонаРабочий    210699
Email                     36901
EmailЛичный              494616
dtype: int64

### Документ_Номер

In [220]:
# выводим любые цифры в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[0-9]+',na=False)].count()

512120

In [222]:
# выводим любые знаки кроме цифр в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[^0-9]+',na=False)].count()

1807

In [21]:
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[^0-9]+',na=False)].head()

# <font color="red">!!!</font>

In [266]:
# выводим только все кроме цифр в колонке уникальных строк
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[^0-9]+',na=False)].nunique()

1691

In [267]:
# выводим любые строчные в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[A-Za-zА-Яа-я]',na=False)].nunique()

1171

In [22]:
# выводим любые строчные в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[A-Za-zА-Яа-я]',na=False)].head(3)

In [23]:
# выводим любые строчные в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[ ]',na=False)].unique()

In [288]:
# выводим любые строчные в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[ ]',na=False)].nunique()

653

In [206]:
# выводим любые строчные в колонке
df_1['Документ_Номер'][df_1['Документ_Номер'].str.contains('[ ]$',na=False)].unique()

array([' 721330 ', ' 283246 ', ' 848630 ', ' ', ' 1108747 '], dtype=object)

In [268]:
# показывает NaN(количество пропущенных значений)
len(df_1['Документ_Номер'])-df_1['Документ_Номер'].count()

629

In [269]:
# выводим nan
df_1['Документ_Номер'].loc[df_1['Документ_Номер'].isnull()].head(5)

267      NaN
3273     NaN
36764    NaN
38620    NaN
38647    NaN
Name: Документ_Номер, dtype: object

In [230]:
#df_1['Документ_Номер'].nunique()

### ДатаВыдачи

In [304]:
# df_1.count()

In [233]:
# выводим любые цифры в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[0-9]+',na=False)].count()

511924

In [241]:
# выводим любые цифры в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[0-9]+',na=False)].nunique()

8144

In [296]:
# выводим строки с точкой в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[.]+',na=False)].nunique()

8144

In [283]:
# выводим строки с пробелом в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[ ]+',na=False)].nunique()

0

In [279]:
# выводим любые строчные в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

0

In [305]:
# выводим все кроме цифр и точки в колонке
df_1['ДатаВыдачи'][df_1['ДатаВыдачи'].str.contains('[^0-9.]+',na=False)].count()

0

In [238]:
# пропущенно значений = NaN
len(df_1['ДатаВыдачи'])-df_1['ДатаВыдачи'].count()

826

In [297]:
# выводим nan
df_1['ДатаВыдачи'].loc[df_1['ДатаВыдачи'].isnull()].head(5)

267      NaN
1045     NaN
3273     NaN
4046     NaN
23809    NaN
Name: ДатаВыдачи, dtype: object

### ТелМобильный

# <font color="red">!!!</font>

In [286]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1['ТелМобильный'])-df_1['ТелМобильный'].count()

20694

In [288]:
# Количество пропущенных значений (в процентах)
round((len(df_1['ТелМобильный']) - df_1['ТелМобильный'].count()) / len(df_1['ТелМобильный']) * 100, 2)

4.04

In [290]:
# выводим любые цифры в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[0-9]+',na=False)].count()

491996

In [291]:
# выводим любые цифры в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[0-9]+',na=False)].nunique()

434716

In [293]:
# выводим все кроме цифр и точки в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[^0-9]+',na=False)].nunique()

427268

In [307]:
# выводим любые строчные в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[A-Za-zА-Яа-я]',na=False)].nunique()

4654

In [24]:
# выводим любые строчные в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[A-Za-zА-Яа-я]',na=False)].unique()

In [25]:
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[A-Za-zА-Яа-я]+',na=False)]

In [26]:
# выводим любые цифр в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[0-9]+',na=False)]

In [27]:
# выводим любые цифр в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('[\d]',na=False)]

In [28]:
# выводим любые цифр в колонке
df_1['ТелМобильный'][df_1['ТелМобильный'].str.contains('(?i)(\W|^)(Жена|мать|сестра|бабушка|отец)(\W|$)',na=False)]

(?i)(\W|^)(туфта|проклятие|убирайся|бред|черт\sвозьми|зараза)(\W|$) 
  
Элемент (...) объединяет все слова, а класс символов \W применяется ко всем словам в круглых скобках.

(?i) делает выражение нечувствительным к регистру.

\W соответствует любому символу, кроме букв, цифр и знака подчеркивания. Этот элемент исключает из поиска символы в начале или конце слова или фразы из списка.

^ соответствует началу новой строки. Этот элемент позволяет искать с помощью регулярного выражения слова, которые находятся в начале строки и перед которыми отсутствуют символы.

$ соответствует окончанию строки. Этот элемент позволяет искать с помощью регулярного выражения слова, которые находятся в конце строки и после которых отсутствуют символы.

Знак | соответствует оператору "или"; таким образом, регулярное выражение будет искать каждое слово из списка по отдельности.

\s соответствует пробелу. Этот символ используется для разделения слов в фразе.

In [308]:
# показывает NaN(количество пропущенных значений)
len(df_1['ТелМобильный'])-df_1['ТелМобильный'].count()

20694

In [309]:
# выводим nan
df_1['ТелМобильный'].loc[df_1['ТелМобильный'].isnull()].head(5)

834     NaN
859     NaN
1135    NaN
1207    NaN
3653    NaN
Name: ТелМобильный, dtype: object

In [310]:
# показывает NaN(количество пропущенных значений)
len(df_1)-df_1.count()

Комплекс                      0
ОИВ                           0
Организация                   0
ИННорг                        0
ФИО                           1
СНИЛС                       609
ДР                           16
Должность                     6
ВидЗанятости                 41
ТипДУЛ                      540
Документ_Серия             6382
Документ_Номер              629
ДатаВыдачи                  826
ТелМобильный              20694
Номер_телефонаРабочий    210699
Email                     36901
EmailЛичный              494616
dtype: int64

### Номер_телефонаРабочий

#### пропуски

In [15]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1['Номер_телефонаРабочий'])-df_1['Номер_телефонаРабочий'].count()

210699

####  % пропусков

In [16]:
# Количество пропущенных значений (в процентах)
round((len(df_1['Номер_телефонаРабочий']) - df_1['Номер_телефонаРабочий'].count()) / len(df_1['Номер_телефонаРабочий']) * 100, 2)

41.09

In [17]:
# выводим любые цифры в колонке
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[0-9]+',na=False)].count()

301871

In [18]:
# выводим любые цифры в колонке
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[0-9]+',na=False)].nunique()

76060

In [304]:
# выводим все кроме цифр в колонке
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[^0-9]+',na=False)].nunique()

73566

In [319]:
# выводим все кроме цифр в колонке
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[A-Za-zА-Яа-я]+',na=False)].count()

4762

In [305]:
# выводим кол-во строчных в колонке с уникальными значениями
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[A-Za-zА-Яа-я]+',na=False)].nunique()

3274

In [29]:
# выводим любые строчные в колонке с уникальными значениями
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[A-Za-zА-Яа-я]+',na=False)].unique()

# <font color="red">!!!</font>

In [30]:
# выводим любые строчные в колонке с уникальными значениями
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[A-Za-zА-Яа-я]+',na=False)].head()

In [312]:
# выводим все строки с 'доб.'
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('доб.',na=False)].nunique()

3175

In [31]:
# выводим всё кроме цифр в колонке
df_1['Номер_телефонаРабочий'][df_1['Номер_телефонаРабочий'].str.contains('[^0-9]+',na=False)].tail()

In [313]:
# df_1.loc[df_1['ФИО'] == "Бузаев Андрей Федорович", :]

### Email

In [32]:
# выводим кол-во любых цифр в колонке
df_1['Email'][df_1['Email'].str.contains('(?i)(\W)(\W@)(\W|$)',na=False)]

In [324]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1['Email'])-df_1['Email'].count()

36901

In [341]:
# Количество пропущенных значений (в процентах)
pros = round((len(df_1['Email']) - df_1['Email'].count()) / len(df_1['Email']) * 100, 2)
print(f'{pros}' + ' %')

7.2 %

In [352]:
# выводим кол-во любых цифр в колонке
df_1['Email'][df_1['Email'].str.contains('[0-9]+',na=False)].count()

232976

In [33]:
# выводим любые цифры в колонке
df_1['Email'][df_1['Email'].str.contains('[0-9]+',na=False)].head(2)

In [110]:
# выводим все кроме цифр в колонке
df_1['Email'][df_1['Email'].str.contains('[A-Za-zА-Яа-я]',na=False)].count()

475712

In [75]:
len(df_1['Email'])-df_1['Email'].count()

36901

In [102]:
# считаем сколько почт, сколько почт со знаком "@"
df_1['Email'].count(), df_1['Email'][df_1['Email'].str.contains('[@]',na=False)].count()

(475849, 475846)

In [101]:
# Вычетаем из суммы почт кол-во почт с собакой
df_1['Email'].count() - df_1['Email'][df_1['Email'].str.contains('[@]',na=False)].count()

3

In [97]:
# выводим все почты без @
df_1['Email'][df_1['Email'].str.contains('^[^@]*$',na=False)].count()

3

In [100]:
# выводим уникальных почты без @
df_1['Email'][df_1['Email'].str.contains('^[^@]*$',na=False)].nunique()

2

In [131]:
df_1['Email'][df_1['Email'].str.contains('^[А-Яа-я]{0,}@yandex.ru|^[А-Яа-я]{0,}@mail.ru',na=False)].nunique()

600

Кол-во значений NaN: 36901
Кол-во почт без знака '@'(без NaN) : 3
Кол-во уникальных почт без знака '@' : 2
Кол-во до двух знаков(символов) перед знаком '@' : 29966
Кол-во уникальных до двух знаков(символов) перед знаком '@' : 1367
Кол-во кириллицы до знака '@' : 1904
Кол-во уникальных кириллицы до знака '@' : 795
Кол-во не допустимых с доменом yandex.ru : 225
Кол-во уникальных не допустимых с доменом yandex.ru : 4
Кол-во не допустимых с доменом mail.ru : 45881
Кол-во уникальных не допустимых с доменом mail.ru : 4287
Кол-во не допустимых с доменом gmail.ru : 31
Кол-во уникальных не допустимых с доменом gmail.ru : 28

In [99]:
# выводим несколько символов после @ в колонке
df_1['Email'][df_1['Email'].str.contains('¶',na=False)].count()

932

In [103]:
# выводим несколько символов после @ в колонке
df_1['Email'][df_1['Email'].str.contains('¶',na=False)].nunique()

792

In [34]:
# выводим несколько символов после @ в колонке
df_1['Email'][df_1['Email'].str.contains('¶',na=False)].groupby(df_1['Email']).count().head()

In [364]:
# выводим 
df_1['Email'][df_1['Email'].str.contains('^\W@',na=False)].count()

4849

In [35]:
# выводим 
df_1['Email'][df_1['Email'].str.contains('^\W@',na=False)].unique()

In [370]:
# выводим все кроме цифр в колонке
df_1['Email'][df_1['Email'].str.contains('^\w@',na=False)].nunique()

392

In [36]:
# выводим  
df_1['Email'][df_1['Email'].str.contains('^\w@',na=False)].unique()

In [372]:
# проверяю наличие странной почты в колонке
df_1['Email'][(df_1['Email']== '!@1.ru')]

117283    !@1.ru
Name: Email, dtype: object

In [37]:
# выводим все пробелы в колонке
df_1['Email'][df_1['Email'].str.contains(' ',na=False)]

In [38]:
# выводим  
df_1['Email'][df_1['Email'].str.contains('[(@)(.+)]$',na=False)].unique()

In [39]:
# выводим 
df_1['Email'][df_1['Email'].str.contains("^[^@]*$",na=False,regex=True)]

### EmailЛичный

In [13]:
# показывает NaN(количество пропущенных значений) по колонкам
len(df_1)-df_1.count()

Комплекс                      0
ОИВ                           0
Организация                   0
ИННорг                        0
ФИО                           1
СНИЛС                       609
ДР                           16
Должность                     6
ВидЗанятости                 41
ТипДУЛ                      540
Документ_Серия             6382
Документ_Номер              629
ДатаВыдачи                  826
ТелМобильный              20694
Номер_телефонаРабочий    210699
Email                     36901
EmailЛичный              494616
dtype: int64

In [21]:
# показывает NaN(количество пропущенных значений) по колонкам
print(f'{colich}')

494616

In [14]:
# Количество пропущенных значений (в процентах)
print(f'{proc}' + ' %')

96.46 %

In [416]:
# выводим кол-во любых цифр в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[0-9]+',na=False)].nunique()

4591

In [40]:
# выводим любые цифры в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[0-9]+',na=False)].head(2)

In [417]:
# выводим все кроме цифр в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[A-Za-zА-Яа-я]',na=False)].nunique()

10154

In [28]:
# выводим все кроме "@" в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^[^@]*$',na=False)].count()

7

In [41]:
# выводим все кроме "@" в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^[^@]*$',na=False)]

In [104]:
# выводим несколько символов после @ в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('¶',na=False)].count()

8

In [105]:
# выводим несколько символов после @ в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('¶',na=False)].nunique()

7

In [42]:
# выводим несколько символов после @ в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('¶',na=False)].groupby(df_1['EmailЛичный']).count()

In [32]:
# выводим все одиночные символы(в един виде) перед собакой в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\W@',na=False)].count()

50

In [7]:
# выводим все одиночные символы(в един виде) перед собакой в колонке кол-во уникальных
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\W@',na=False)].nunique()

5

In [12]:
# выводим все одиночные символы(в един виде) перед собакой в колонке уникальных
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\W@',na=False)].unique()

array(['!@1.ru', '.@mail.ru', '.@.mail.ru', '.@gmail.com', '.@mge.mos.ru'],
      dtype=object)

In [34]:
# выводим все кроме цифр в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\w@',na=False)].nunique()

79

In [43]:
# выводим все строчные и цифры(в един виде) перед собакой в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\w@',na=False)].unique()

In [41]:
# выводим все пробелы в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains(' ',na=False)].count()

66

In [39]:
# выводим все пробелы в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains(' ',na=False)].nunique()

60

In [44]:
# выводим все пробелы в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains(' ',na=False)]

In [45]:
# выводим несколько символов после @ в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[(@)(\W+)]$',na=False)].groupby(df_1['EmailЛичный']).count()

In [78]:
# выводим несколько символов после @ в колонке
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[(@)(\W+)]$',na=False)].count()

31

In [81]:
# выводим несколько символов после @ в колонке уникальных 
df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[(@)(\W+)]$',na=False)].nunique()

19

In [86]:
colich = len(df_1['EmailЛичный'])-df_1['EmailЛичный'].count()
proc = round((len(df_1['EmailЛичный']) - df_1['EmailЛичный'].count()) / len(df_1['EmailЛичный']) * 100, 2)
without_dog = df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^[^@]*$',na=False)].count()
simbol_before = df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\W@',na=False)].count()
letters_before = df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('^\w@',na=False)].nunique()
space = df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains(' ',na=False)].count()
simbol_after = df_1['EmailЛичный'][df_1['EmailЛичный'].str.contains('[(@)(.+)]$',na=False)].count()

print(f'Кол-во пропущенных значений (в процентах) : {proc}' + ' %')
print(f'Кол-во пропущенных значений : {colich}')
print(f'Кол-во значений : {df_1.count()[1] - colich}')
print(f'Кол-во значений без @ : {without_dog}')
print(f'Кол-во одиночныx символов(в един виде) перед собакой : {simbol_before}')
print(f'Несколько символов после @ : {simbol_after}')
print(f'Кол-во значений букв перед @ : {letters_before}')
print(f'Кол-во пробелов : {space}')

Кол-во пропущенных значений (в процентах) : 96.46 %
Кол-во пропущенных значений : 494616
Кол-во значений : 18134
Кол-во значений без @ : 7
Кол-во одиночныx символов(в един виде) перед собакой : 50
Несколько символов после @ : 19
Кол-во значений букв перед @ : 79
Кол-во пробелов : 66